<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <div class='container'>
    <a class='navbar-brand' href='/'>MY COURSES</a>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>

      <ul style='margin-left: auto ;' class='navbar-nav'>
        <li class='nav-item dropdown'>
          <a
            class='nav-link dropdown-toggle'
            href='#'
            id='navbarDropdown'
            role='button'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
            Tuấn Võ
          </a>
          <ul class='dropdown-menu' aria-labelledby='navbarDropdown'>
            <li><a class='dropdown-item' href='/courses/create'>CREATE COURSE</a></li>
            <li><hr class='dropdown-divider' /></li>
            <li><a class='dropdown-item' href='/me/stored/courses'>MY COURSES</a></li>
            <li><hr class='dropdown-divider' /></li>
            <li><a class='dropdown-item' href='#'>LOGOUT</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>